<?xml version='1.0' encoding='utf-8'?>
<robot name="cubebot">
    <link name="bottom_case">
        <inertial>
            <mass value="0.000193616" />
            <origin xyz="1.64049e-17 -6.01365e-18 -0.0091" rpy="0 -0 0" />
            <inertia ixx="1.44106e-07" ixy="0" ixz="0" iyy="2.1763e-07" iyz="0" izz="3.51047e-07" />
        </inertial>
        <visual>
            <origin xyz="1.52407e-17 -7.2819e-18 -0.0182" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Bottom_case.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="1.52407e-17 -7.2819e-18 -0.0182" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Bottom_case.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="foot">
        <inertial>
            <mass value="2.57244e-06" />
            <origin xyz="1.95178e-19 0 0" rpy="0 -0 0" />
            <inertia ixx="7.43435e-11" ixy="0" ixz="0" iyy="7.43435e-11" iyz="0" izz="7.43435e-11" />
        </inertial>
        <visual>
            <origin xyz="-5.20475e-19 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Foot.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="-5.20475e-19 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Foot.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="foot_1">
        <inertial>
            <mass value="2.57244e-06" />
            <origin xyz="1.95178e-19 0 0" rpy="0 -0 0" />
            <inertia ixx="7.43435e-11" ixy="0" ixz="0" iyy="7.43435e-11" iyz="0" izz="7.43435e-11" />
        </inertial>
        <visual>
            <origin xyz="-5.20475e-19 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Foot.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="-5.20475e-19 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Foot.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="foot_2">
        <inertial>
            <mass value="2.57244e-06" />
            <origin xyz="1.95178e-19 0 0" rpy="0 -0 0" />
            <inertia ixx="7.43435e-11" ixy="0" ixz="0" iyy="7.43435e-11" iyz="0" izz="7.43435e-11" />
        </inertial>
        <visual>
            <origin xyz="-5.20475e-19 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Foot.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="-5.20475e-19 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Foot.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="foot_3">
        <inertial>
            <mass value="2.57244e-06" />
            <origin xyz="1.95178e-19 0 0" rpy="0 -0 0" />
            <inertia ixx="7.43435e-11" ixy="0" ixz="0" iyy="7.43435e-11" iyz="0" izz="7.43435e-11" />
        </inertial>
        <visual>
            <origin xyz="-5.20475e-19 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Foot.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="-5.20475e-19 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Foot.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="leg_middle_part">
        <inertial>
            <mass value="3.64093e-05" />
            <origin xyz="-0.024 0.017 -8.67362e-18" rpy="0 -0 0" />
            <inertia ixx="4.24573e-09" ixy="0" ixz="0" iyy="1.55246e-08" iyz="0" izz="1.82937e-08" />
        </inertial>
        <visual>
            <origin xyz="-0.024 0.017 -0.00775" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Leg_middle_part.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="-0.024 0.017 -0.00775" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Leg_middle_part.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="leg_middle_part_1">
        <inertial>
            <mass value="3.64093e-05" />
            <origin xyz="0.024 0.017 -2.60209e-18" rpy="0 -0 0" />
            <inertia ixx="4.24573e-09" ixy="0" ixz="0" iyy="1.55246e-08" iyz="0" izz="1.82937e-08" />
        </inertial>
        <visual>
            <origin xyz="0.024 0.017 -0.00775" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Leg_middle_part.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="0.024 0.017 -0.00775" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Leg_middle_part.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="leg_middle_part_2">
        <inertial>
            <mass value="3.64093e-05" />
            <origin xyz="0.024 0.017 -2.60209e-18" rpy="0 -0 0" />
            <inertia ixx="4.24573e-09" ixy="0" ixz="0" iyy="1.55246e-08" iyz="0" izz="1.82937e-08" />
        </inertial>
        <visual>
            <origin xyz="0.024 0.017 -0.00775" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Leg_middle_part.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="0.024 0.017 -0.00775" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Leg_middle_part.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="leg_middle_part_3">
        <inertial>
            <mass value="3.64093e-05" />
            <origin xyz="-0.024 -0.017 -8.67362e-18" rpy="0 -0 0" />
            <inertia ixx="4.24573e-09" ixy="0" ixz="0" iyy="1.55246e-08" iyz="0" izz="1.82937e-08" />
        </inertial>
        <visual>
            <origin xyz="-0.024 -0.017 -0.00775" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Leg_middle_part.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="-0.024 -0.017 -0.00775" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Leg_middle_part.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="part_1">
        <inertial>
            <mass value="9.89486e-06" />
            <origin xyz="-0.0105506 0.0075 -3.36383e-19" rpy="0 1.5708 -0" />
            <inertia ixx="2.21659e-09" ixy="0" ixz="0" iyy="3.02255e-09" iyz="0" izz="1.18511e-09" />
        </inertial>
        <visual>
            <origin xyz="-0.012 0.015 -2.66454e-18" rpy="0 1.5708 -0" />
            <geometry>
                <mesh filename="meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="-0.012 0.015 -2.66454e-18" rpy="0 1.5708 -0" />
            <geometry>
                <mesh filename="meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="part_1_1">
        <inertial>
            <mass value="1.62727e-05" />
            <origin xyz="-0.017 0.0216008 -0.0159671" rpy="1.5708 -0 0" />
            <inertia ixx="1.11428e-08" ixy="0" ixz="0" iyy="2.53135e-09" iyz="6.63937e-10" izz="1.25833e-08" />
        </inertial>
        <visual>
            <origin xyz="-0.017 0.076775 -0.017856" rpy="1.5708 -0 0" />
            <geometry>
                <mesh filename="meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="-0.017 0.076775 -0.017856" rpy="1.5708 -0 0" />
            <geometry>
                <mesh filename="meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="part_1_2">
        <inertial>
            <mass value="9.89486e-06" />
            <origin xyz="0.0105506 0.0075 -4.34904e-18" rpy="0 -1.5708 0" />
            <inertia ixx="2.21659e-09" ixy="0" ixz="0" iyy="3.02255e-09" iyz="0" izz="1.18511e-09" />
        </inertial>
        <visual>
            <origin xyz="0.012 0.015 -2.66454e-18" rpy="0 -1.5708 0" />
            <geometry>
                <mesh filename="meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="0.012 0.015 -2.66454e-18" rpy="0 -1.5708 0" />
            <geometry>
                <mesh filename="meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="part_1_3">
        <inertial>
            <mass value="1.62727e-05" />
            <origin xyz="-0.017 -0.0216008 0.0159671" rpy="-1.5708 0 0" />
            <inertia ixx="1.11428e-08" ixy="0" ixz="0" iyy="2.53135e-09" iyz="6.63937e-10" izz="1.25833e-08" />
        </inertial>
        <visual>
            <origin xyz="-0.017 -0.076775 0.017856" rpy="-1.5708 0 0" />
            <geometry>
                <mesh filename="meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="-0.017 -0.076775 0.017856" rpy="-1.5708 0 0" />
            <geometry>
                <mesh filename="meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="part_1_4">
        <inertial>
            <mass value="1.62727e-05" />
            <origin xyz="0.017 -0.0216008 0.0159671" rpy="-1.5708 0 0" />
            <inertia ixx="1.11428e-08" ixy="0" ixz="0" iyy="2.53135e-09" iyz="6.63937e-10" izz="1.25833e-08" />
        </inertial>
        <visual>
            <origin xyz="0.017 -0.076775 0.017856" rpy="-1.5708 0 0" />
            <geometry>
                <mesh filename="meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="0.017 -0.076775 0.017856" rpy="-1.5708 0 0" />
            <geometry>
                <mesh filename="meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="part_1_5">
        <inertial>
            <mass value="1.62727e-05" />
            <origin xyz="0.017 -0.0216008 0.0159671" rpy="-1.5708 0 0" />
            <inertia ixx="1.11428e-08" ixy="0" ixz="0" iyy="2.53135e-09" iyz="6.63937e-10" izz="1.25833e-08" />
        </inertial>
        <visual>
            <origin xyz="0.017 -0.076775 0.017856" rpy="-1.5708 0 0" />
            <geometry>
                <mesh filename="meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="0.017 -0.076775 0.017856" rpy="-1.5708 0 0" />
            <geometry>
                <mesh filename="meshes/Part_1_1.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="part_1_6">
        <inertial>
            <mass value="9.89486e-06" />
            <origin xyz="0.0105506 0.0075 3.36383e-19" rpy="0 -1.5708 0" />
            <inertia ixx="2.21659e-09" ixy="0" ixz="0" iyy="3.02255e-09" iyz="0" izz="1.18511e-09" />
        </inertial>
        <visual>
            <origin xyz="0.012 0.015 2.66454e-18" rpy="0 -1.5708 0" />
            <geometry>
                <mesh filename="meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="0.012 0.015 2.66454e-18" rpy="0 -1.5708 0" />
            <geometry>
                <mesh filename="meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="part_1_7">
        <inertial>
            <mass value="9.89486e-06" />
            <origin xyz="-0.0105506 0.0075 -3.36383e-19" rpy="0 1.5708 -0" />
            <inertia ixx="2.21659e-09" ixy="0" ixz="0" iyy="3.02255e-09" iyz="0" izz="1.18511e-09" />
        </inertial>
        <visual>
            <origin xyz="-0.012 0.015 -2.66454e-18" rpy="0 1.5708 -0" />
            <geometry>
                <mesh filename="meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="-0.012 0.015 -2.66454e-18" rpy="0 1.5708 -0" />
            <geometry>
                <mesh filename="meshes/Part_1.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <link name="root" />
    <link name="top_case">
        <inertial>
            <mass value="0.00060375" />
            <origin xyz="1.40295e-18 0 0.023" rpy="0 -0 0" />
            <inertia ixx="6.61157e-07" ixy="0" ixz="0" iyy="8.92594e-07" iyz="0" izz="1.34083e-06" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Top_case.stl" scale="1 1 1" />
            </geometry>
            <material name="0.615686_0.811765_0.929412_0.000000_0.000000">
                <color rgba="0.615686 0.811765 0.929412 1" />
            </material>
        </visual>
    <collision>
            <origin xyz="0 0 0" rpy="0 -0 0" />
            <geometry>
                <mesh filename="meshes/Top_case.stl" scale="1 1 1" />
            </geometry>
            </collision></link>
    <joint name="fastened_5" type="fixed">
        <origin xyz="0.017 -0.076775 0.017856" rpy="0 -1.5708 -1.5708" />
        <axis xyz="0 0 1" />
        <parent link="part_1_4" />
        <child link="foot_1" />
    </joint>
    <joint name="fastened_6" type="fixed">
        <origin xyz="0.017 -0.076775 0.017856" rpy="1.5708 -3.67911e-16 3.14159" />
        <axis xyz="0 0 1" />
        <parent link="part_1_5" />
        <child link="foot_2" />
    </joint>
    <joint name="fastened_7" type="fixed">
        <origin xyz="-0.017 -0.076775 0.017856" rpy="0 1.5708 1.5708" />
        <axis xyz="0 0 1" />
        <parent link="part_1_3" />
        <child link="foot" />
    </joint>
    <joint name="fastened_8" type="fixed">
        <origin xyz="-0.017 0.076775 -0.017856" rpy="0 -1.5708 1.5708" />
        <axis xyz="0 0 1" />
        <parent link="part_1_1" />
        <child link="foot_3" />
    </joint>
    <joint name="fastened_9" type="fixed">
        <origin xyz="4.05808e-18 -6.59589e-18 1.73472e-18" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <parent link="top_case" />
        <child link="bottom_case" />
    </joint>
    <joint name="fixed_node_to_root_joint" type="fixed">
        <origin xyz="-3.46945e-18 1.38778e-17 -0.005" rpy="0 -0 0" />
        <axis xyz="0 0 1" />
        <parent link="root" />
        <child link="top_case" />
    </joint>
    <joint name="revolute_1" type="continuous">
        <origin xyz="-0.048 -0.034 -6.93889e-18" rpy="2.90163e-14 2.92384e-14 -1.5708" />
        <axis xyz="-1 0 0" />
        <parent link="leg_middle_part_3" />
        <child link="part_1_3" />
    </joint>
    <joint name="revolute_10" type="continuous">
        <origin xyz="0.0465 -0.0385 -0.0182" rpy="1.5708 -2.46519e-32 -2.22045e-16" />
        <axis xyz="0 -1 0" />
        <parent link="bottom_case" />
        <child link="part_1_2" />
    </joint>
    <joint name="revolute_11" type="continuous">
        <origin xyz="-0.025 0.0075 0.017" rpy="-1.5708 -2.22045e-16 -3.08149e-31" />
        <axis xyz="-0 -1 -0" />
        <parent link="part_1_7" />
        <child link="leg_middle_part" />
    </joint>
    <joint name="revolute_12" type="continuous">
        <origin xyz="0.025 0.0075 0.017" rpy="-1.5708 3.04086e-16 1.47911e-31" />
        <axis xyz="0 -1 0" />
        <parent link="part_1_2" />
        <child link="leg_middle_part_1" />
    </joint>
    <joint name="revolute_2" type="continuous">
        <origin xyz="-0.048 -3.17107e-15 -1.73472e-17" rpy="3.14159 -1.38778e-16 -1.5708" />
        <axis xyz="-1 0 0" />
        <parent link="leg_middle_part" />
        <child link="part_1_1" />
    </joint>
    <joint name="revolute_3" type="continuous">
        <origin xyz="0.048 0 1.04083e-17" rpy="-4.90265e-15 6.08855e-15 1.5708" />
        <axis xyz="1 0 0" />
        <parent link="leg_middle_part_1" />
        <child link="part_1_4" />
    </joint>
    <joint name="revolute_4" type="continuous">
        <origin xyz="0.048 -3.46945e-18 3.46945e-18" rpy="-5.74213e-15 5.52008e-15 1.5708" />
        <axis xyz="1 0 0" />
        <parent link="leg_middle_part_2" />
        <child link="part_1_5" />
    </joint>
    <joint name="revolute_5" type="continuous">
        <origin xyz="0.0465 0.0385 -0.0182" rpy="1.5708 1.2326e-32 1.66533e-16" />
        <axis xyz="0 -1 0" />
        <parent link="bottom_case" />
        <child link="part_1_6" />
    </joint>
    <joint name="revolute_6" type="continuous">
        <origin xyz="0.025 0.0075 0.017" rpy="-1.5708 -1.65311e-16 3.33067e-16" />
        <axis xyz="0 -1 0" />
        <parent link="part_1_6" />
        <child link="leg_middle_part_2" />
    </joint>
    <joint name="revolute_7" type="continuous">
        <origin xyz="-0.0465 0.0385 -0.0182" rpy="1.5708 2.46519e-32 2.22045e-16" />
        <axis xyz="0 -1 0" />
        <parent link="bottom_case" />
        <child link="part_1" />
    </joint>
    <joint name="revolute_8" type="continuous">
        <origin xyz="-0.025 0.0075 -0.017" rpy="-1.5708 -2.22045e-16 -2.46519e-32" />
        <axis xyz="-0 1 -0" />
        <parent link="part_1" />
        <child link="leg_middle_part_3" />
    </joint>
    <joint name="revolute_9" type="continuous">
        <origin xyz="-0.0465 -0.0385 -0.0182" rpy="1.5708 2.46519e-32 2.22045e-16" />
        <axis xyz="0 -1 0" />
        <parent link="bottom_case" />
        <child link="part_1_7" />
    </joint>
</robot>